src/UnitTest/Service References/BlogPostReference/BlogPostService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.BlogPosts.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.BlogPosts.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AnotherBlog.Common.Data.Entities" />
  <xs:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.Models" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnotherBlog.Common.Data.Entities" minOccurs="0" name="UserBlogInfo" nillable="true" type="q1:ArrayOfBlogUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="GetBlogsResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.Models" minOccurs="0" name="Blogs" nillable="true" type="q2:ArrayOfBlogElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBlogsResponse" nillable="true" type="tns:GetBlogsResponse" />
  <xs:complexType name="GetAllBlogEntriesByBlogResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.Models" minOccurs="0" name="BlogEntries" nillable="true" type="q3:ArrayOfBlogPostElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllBlogEntriesByBlogResponse" nillable="true" type="tns:GetAllBlogEntriesByBlogResponse" />
</xs:schema>