src/UnitTest/Service References/BlogPostReference/BlogPostService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlogElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogElement" nillable="true" type="tns:BlogElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogElement" nillable="true" type="tns:ArrayOfBlogElement" />
  <xs:complexType name="BlogElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="About" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WelcomeMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogElement" nillable="true" type="tns:BlogElement" />
  <xs:complexType name="ArrayOfBlogPostElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogPostElement" nillable="true" type="tns:BlogPostElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogPostElement" nillable="true" type="tns:ArrayOfBlogPostElement" />
  <xs:complexType name="BlogPostElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogId" type="xs:int" />
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryId" type="xs:int" />
      <xs:element minOccurs="0" name="EntryText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTagElement" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogPostElement" nillable="true" type="tns:BlogPostElement" />
  <xs:complexType name="ArrayOfTagElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagElement" nillable="true" type="tns:TagElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagElement" nillable="true" type="tns:ArrayOfTagElement" />
  <xs:complexType name="TagElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagElement" nillable="true" type="tns:TagElement" />
</xs:schema>