src/UnitTest/Service References/BlogPostReference/BlogPostService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogPostService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.BlogPosts.Requests" />
      <xsd:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.BlogPosts.Responses" />
      <xsd:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AnotherBlog.Common.Data.Entities" />
      <xsd:import schemaLocation="http://localhost:1305/BlogPosts/BlogPostService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogPostService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IBlogPostService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogPostService_GetBlogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogs" />
  </wsdl:message>
  <wsdl:message name="IBlogPostService_GetBlogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogsResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogPostService_GetAllBlogEntriesByBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogEntriesByBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogPostService_GetAllBlogEntriesByBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogEntriesByBlogResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogPostService">
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogPostService/LoginUser" message="tns:IBlogPostService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogPostService/LoginUserResponse" message="tns:IBlogPostService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogPostService/GetBlogs" message="tns:IBlogPostService_GetBlogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogPostService/GetBlogsResponse" message="tns:IBlogPostService_GetBlogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlogEntriesByBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogPostService/GetAllBlogEntriesByBlog" message="tns:IBlogPostService_GetAllBlogEntriesByBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogPostService/GetAllBlogEntriesByBlogResponse" message="tns:IBlogPostService_GetAllBlogEntriesByBlog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlogPostService" type="tns:IBlogPostService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IBlogPostService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <soap:operation soapAction="http://tempuri.org/IBlogPostService/GetBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlogEntriesByBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogPostService/GetAllBlogEntriesByBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogPostService">
    <wsdl:port name="BasicHttpBinding_IBlogPostService" binding="tns:BasicHttpBinding_IBlogPostService">
      <soap:address location="http://localhost:1305/BlogPosts/BlogPostService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>