src/UnitTest/Service References/BlogPostReference/BlogPostService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.BlogPosts.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnotherBlog.IntegrationService.BlogPosts.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="GetBlogsRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetBlogsRequest" nillable="true" type="tns:GetBlogsRequest" />
  <xs:complexType name="GetAllBlogEntriesByBlogRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllBlogEntriesByBlogRequest" nillable="true" type="tns:GetAllBlogEntriesByBlogRequest" />
</xs:schema>